<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="CoolC::top_level" title="CoolC" module="CoolC_ProductSubscription" sortOrder="9999" resource="Magento_Backend::content"/>
		<add id="CoolC_ProductSubscription::coolc_productsubscription_subscription" title="Durations" module="CoolC_ProductSubscription" sortOrder="9999" resource="Magento_Backend::content" parent="CoolC::top_level" action="coolc_productsubscription/subscription/index"/>
	</menu>
</config>
